<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 text-center>Ionic</h1>
  <p text-center>Existing user? Sign in here.</p>

  <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
    <div formGroupName="user">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input id="email" autocapitalize="on" type="email" formControlName="email" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input id="password" type="password" formControlName="password" required>
        </ion-input>
      </ion-item>
    </div>
    <ion-grid>
      <ion-button expand="block" type="submit" [disabled]="!signInForm.valid">
        <strong>Log in</strong>
      </ion-button>
      <p>
        <a [routerLink]="['/register']">Or new user? Create an account</a>
      </p>
    </ion-grid>
  </form>
</ion-content>
